@CHARSET "UTF-8";

.user-toolbar{
	height:32px;
	position:fixed;
	z-index:9999999;
	background:#23282d;
	width: 100%;
	top:0px;
}

.user-toolbar .center{
	padding:0px 20%;
	height:100%;
	width:100%;
}

.user-toolbar .item{
	height:32px;
	float:left;
	color:#fff;
	padding:0px 10px;
	cursor:pointer;
	font-size:14px;
}

.pull-down-group{
	display:inline-block;
	position:relative;
	float:left;
}

.pull-down-group:hover .pull-down{
	display:block;
}

.pull-down-group a{
	text-decoration: none;
	color:#fff;
	width:100%;
	display: inline-block;
}
.pull-down-group a:hover{
	color:#f16c20;
}

ul.pull-down{
	position: absolute;
    top: 100%;
    left: 0;
    margin: 0px;
    display: none;
    width: 200%;
    background-color: #414141;
    color: #fff;
    font-size: 13px;
    padding: 2px 0px;
	text-align: left;
    list-style: none;
	text-indent: 5px;
}

.user-toolbar .item:hover{
	background-color: #414141;
}

header{
	width:100%;
	min-height: 70px;
    margin-bottom: 0 !important;
    border: none;
    background: #fff;
	box-shadow:0 2px 8px 0 rgba(50, 50, 50, 0.08);
	top:0px;
	position: fixed;
	font-family: Montserrat, sans-serif;
	z-index: 9;
}

header .toolbar{
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	width:60%;
}

header .toolbar .navbar{
	float:left;
}

header .toolbar .navbar h1{
	margin-top: 12px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    line-height: 1.5rem;
	text-align:center;
	font-family: "Cabin", Helvetica Neue, Sans-serif;
    font-weight: 400;
}

header .toolbar .navbar a{
	color: #be5000;
	text-decoration: none;
	transition: all ease 0.25s;
	background-color: transparent;
	font-size: 1.5rem;
    line-height: 1.5rem;
}

header .toolbar .navbar .site_desc{
	margin-top: 0;
    margin-bottom: 12px;
    font-size: 1rem;
    line-height: 1rem;
	color: #313131;
	font-family: "Cabin", Helvetica Neue, Sans-serif;
    font-weight: 300;
	margin: 0 0 10px;
}

header .toolbar .menu{
	float:right;
}

header .toolbar .menu .item{
	text-decoration: none;
	margin: 26px 18px;
    padding: 0;
    line-height: 70px;
    text-transform: uppercase;
	color: #313131;
    text-align: left;
	background-color: transparent;
	cursor: pointer;
	border:none;
	outline:none;
	font-size:14px;
}

header .toolbar .menu .item:hover{
	color: #f16c20;
}


.archive{
	top: 70px;
    display: block;
    color: #fff;
    text-align: center;
    background-position: center 30%;
    background-size: cover;
    position: relative;
}

.archive .layer{
	background: rgba(13, 60, 85, 0.6);
	padding-top: 100px;
    padding-bottom: 100px;
	box-sizing: inherit;
	color: #fff;
    text-align: center;
}

.archive .layer .content .content-title h1 {
	font-weight:400;
	border-bottom: 2px #f16c20 solid;
    display: inline-block;
    line-height: 50px;
}

.archive .layer .content .content-desc{
	font-weight:200;
}
